.comment {
  border-top:dotted 1px #ddd;
  font-size:0.7em;
}
.fa-circle {
  font-size: 0.1px;
}

.wideip {
  font-size: 20px;
}

  #wrapper{
    display: grid;
    grid-template-columns: repeat(2, 400px);  /* 너비 200px인 칼럼 3개 */
    grid-template-rows: minmax(100px, auto);  
    grid-gap: 20px 150px;  /* 칼럼 간격 30px, 줄 간격 20px  */
    /* 또는 아래와 같이 사용 */
    /* grid-column-gap:30px; */
    /* grid-row-gap:20px; */
  }

.node_result-box {

    border: 5px solid black;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
  }
  
  .node_result-box2 {
  
    border: 5px solid black;
    width: 800px;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
    font-size: 20px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Add vertical scrollbar if necessary */
    max-height: 200px; /* You can adjust this value */
    
  }

  .green-text {
    color: green;
}

  .red-text {
    color: red;
}

/* SLB SYNC 로딩 페이지 CSS */
.loading-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.9); /* Light overlay */
}

.loading-spinner {
  border: 5px solid #f3f3f3; /* Light grey border */
  border-top: 5px solid #0064FF; /* Blue border */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
