{% extends 'base.html' %}
{% block content %}
<html>
        <head>
                <title>test</title>
                <script language="javascript">
                        function apply(){

                          location.href="../static/visual_view.py";


                        }
                </script>
        </head>
        <body>
                <center>
							   <br>
                <input type="button" value="Config Apply" onclick="apply()"></input><br><br><br>
        </body>
</html>

{% endblock %}
