<nav id="sidebar">

  <h1></h1>
  <ul class="list-unstyled components mb-5">
    <li>
      <a href="{{ url_for('visual._visual') }}"><span class="fa fa-home mr-3"></span> Homepage</a>
    </li>
<!--
    <li>
        <a href="{{ url_for('visual._wideip_options') }}"><span class="fab fa-weebly mr-3"></span> Wideip Options</a>
    </li>

    <li>
        <a href="{{ url_for('visual._pool_options') }}"><span class="fab fa-paypal mr-3"></span> Pool Options</a>
    </li>
-->
    <li>
      <a href="{{ url_for('visual._visual_data') }}"><span class="fas fa-sync-alt mr-3"></span>Data_refresh</a>
    </li>
  </ul>

</nav>

