<nav id="sidebar">

  <h1></h1>
  <ul class="list-unstyled components mb-5">
    <li>
      <a href="{{ url_for('integrated._integrated') }}"><span class="fa fa-home mr-3"></span> SLB 통합 </a>
    </li>
    <li>
      <a href="{{ url_for('afmainslb._afmainslb') }}"><span class="fa fa-home mr-3"></span> 5F_afmainSLB </a>
    </li>

    <li>
      <a href="{{ url_for('afreecaslb._afreecaslb') }}"><span class="fa fa-home mr-3"></span> 5F_afreecaSLB </a>
    </li>

    <li>
      <a href="{{ url_for('nowlximgslb._nowlximgslb') }}"><span class="fa fa-home mr-3"></span> 5F_nowlximgSLB </a>
    </li>
<!--
    <li>
      <a href="{{ url_for('afahvslb1._afahvslb1') }}"><span class="fa fa-home mr-3"></span> 4F_AFAHVSLB1 </a>
    </li>
-->
    <li>
      <a href="{{ url_for('afahvslb3._afahvslb3') }}"><span class="fa fa-home mr-3"></span> 4F_AFAHVSLB3 </a>
    </li>

    <li>
      <a href="{{ url_for('afahvslb5._afahvslb5') }}"><span class="fa fa-home mr-3"></span> 4F_AFAHVSLB5 </a>
    </li>

    <li>
      <a href="{{ url_for('kidcslb._kidcslb') }}"><span class="fa fa-home mr-3"></span> B2F_KIDC-SLB </a>
    </li>

    <li>
      <a href="{{ url_for('nliveimgslb._nliveimgslb') }}"><span class="fa fa-home mr-3"></span> B2F_NliveimgSLB </a>
    </li>

    <li>
      <a href="{{ url_for('afimgslb._afimgslb') }}"><span class="fa fa-home mr-3"></span> B2F_afimgSLB </a>
    </li>

    <li>
      <a href="{{ url_for('afmainslb._afmainslb_data') }}"><span class="fas fa-sync-alt mr-3"></span>Data_refresh</a>
    </li>
  </ul>
</nav>

